# course config files
*.yaml

# gradle
.gradle/
build


# idea config
.idea

# old stages
/Simple Chat Bot (Kotlin)/*
!/Simple Chat Bot (Kotlin)/task/
/Simple Chat Bot (Kotlin)/task/*
!/Simple Chat Bot (Kotlin)/task/src

# Project exclude paths
/Topics/Declaring functions/Division/out/
/Topics/Declaring functions/Division/out/production/classes/
/Topics/Declaring functions/Get last digit/out/
/Topics/Declaring functions/Get last digit/out/production/classes/
/Topics/Declaring functions/Right equation/out/
/Topics/Declaring functions/Right equation/out/production/classes/
/Topics/Declaring functions/Vowel or not/out/
/Topics/Declaring functions/Vowel or not/out/production/classes/
/Topics/While loops/Balance checker/out/
/Topics/While loops/Balance checker/out/production/classes/
/Topics/While loops/Bank interest calculation/out/
/Topics/While loops/Bank interest calculation/out/production/classes/
/Topics/While loops/Generate the Fibonacci sequence upto nth term/out/
/Topics/While loops/Generate the Fibonacci sequence upto nth term/out/production/classes/
/Topics/While loops/The sequence 1 2 2 3 3 3/out/
/Topics/While loops/The sequence 1 2 2 3 3 3/out/production/classes/
/Topics/While loops/The sum of elements/out/
/Topics/While loops/The sum of elements/out/production/classes/